$primary-color: #3d2514;
$secondary-color: #ffffff;
$shaw-dow: #fee8bc; 
$third-color: #ffc045;
$title-color: #333333;
$text-color: #3d3d3d;
$button-color: #bf2222;
$primary-font: 'Bebas Neue', cursive;
$secondary-font: 'Alfa Slab One', cursive;
$third-font: 'Montserrat', sans-serif;
$wrapper: 1920px;
$container: 1335px;
