section.events
    .container
        .events-list
            .events-slide
                    .events-raido_item
                        input(type="radio", id="slide1", name="slide", checked, onclick="slide()").events-raido_btn
                        label(for="slide1").events-raido_label
                    .events-raido_item
                        input(type="radio", id="slide2", name="slide", onclick="slide()").events-raido_btn
                        label(for="slide2").events-raido_label
                    .events-raido_item
                        input(type="radio", id="slide3", name="slide", onclick="slide()").events-raido_btn
                        label(for="slide3").events-raido_label
            .events-item
                .events-content
                    .events-topic
                        h5.events-name Discover
                        h3.events-title upcoming events1
                        p.events-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                img(src="./images/image_events.png", alt="").events-img
            .events-item
                .events-content
                    .events-topic
                        h5.events-name Discover
                        h3.events-title upcoming events2
                        p.events-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                img(src="./images/image_events.png", alt="").events-img
            .events-item
                .events-content
                    .events-topic
                        h5.events-name Discover
                        h3.events-title upcoming events3
                        p.events-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                img(src="./images/image_events.png", alt="").events-img

                
        