section.footer
    .container
        img(src="./images/image_logo_footer.png", alt="").footer-logo
        .footer-content
            p.footer-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viver ra maecenas accumsan lacus vel facilisis.
            .footer-contact
                .footer-contact_item
                    img(src="./images/image_icon_location.png", alt="").footer-contact_icon
                    p.footer-contact_desc Main Road, Building Name, Country
                .footer-contact_item
                    img(src="./images/image_icon_email.png", alt="").footer-contact_icon
                    p.footer-contact_desc info@companyname.com
        .footer-bottom
            p.footer-copyright © Company Name 2020. All rights reserved.
            .footer-social
                a(href="") 
                    img(src="./images/image_icon_instagram.png", alt="").footer-social_icon
                a(href="")         
                    img(src="./images/image_icon_facebook.png", alt="").footer-social_icon         
                a(href="") 
                    img(src="./images/image_icon_twitter.png", alt="").footer-social_icon         
                a(href="") 
                    img(src="./images/image_icon_what_app.png", alt="").footer-social_icon         