header.header
    .container
        .header-top 
            .header-logo
                a(href="")
                    img(src="./images/image_logo.png", alt="").header-logo_image
                i.fa.fa-bars.header-toggle
            .header-nav
                .header-delivery_contact
                    img(src="./images/image_delivery.png", alt="").header-delivery_contact-logo
                    span.header-delivery_contact-content Express Delivery +1 234 567 890
                ul.header-menu
                    li.header-menu_item
                        a(href="").header-menu_link home 
                    li.header-menu_item
                        a(href="").header-menu_link menu 
                    li.header-menu_item
                        a(href="").header-menu_link our story 
                    li.header-menu_item
                        a(href="").header-menu_link contact us 

        .header-bottom
            .header-content
                p.header-title it is a good time for the great taste of burgers
                h4.header-desc Burger
                span.header-time week
            .header-banner
                img(src="./images/image_banner.png", alt="").header-banner_image
                