section.reservation
    .container
        .reservation-content
            h5.reservation-title reservation
            h3.reservation-desc book your table
            form(action="").reservation-form
                .reservation-form_group
                    input(type="text", id="name", placeholder="NAME").reservation-input
                    input(type="text", id="email", placeholder="EMAIL").reservation-input
                .reservation-form_group
                    input(type="text", id="name", placeholder="DATE").reservation-input
                    input(type="text", id="email", placeholder="TIME").reservation-input
                .reservation-form_group
                    input(type="text", id="name", placeholder="PEOPLE").reservation-input
                    button.reservation-input.reservation-btn find a table

