section.tasty
    .container
        .tasty-header
            h5.tasty-topic always tasty burger
            h3.tasty-title Choose & Enjoy
            p.tasty-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 
        .tasty-content
            .tasty-list
                .tasty-item
                    img(src="./images/image_tasty_bugger1.png", alt="").tasty-img
                    .tasty-order
                        h4.tasty-order_title Lorem ipsum dolor
                        p.tasty-order_desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        button.tasty-order_btn order now 
                .tasty-item
                    img(src="./images/image_tasty_bugger2.png", alt="").tasty-img
                    .tasty-order
                        h4.tasty-order_title Lorem ipsum dolor
                        p.tasty-order_desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        button.tasty-order_btn order now 
                .tasty-item
                    img(src="./images/image_tasty_bugger3.png", alt="").tasty-img
                    .tasty-order
                        h4.tasty-order_title Lorem ipsum dolor
                        p.tasty-order_desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        button.tasty-order_btn order now 
                        
