section.tryit
    .container
        .tryit-list
            .tryit-item
                img(src="./images/image_try_it1.png", alt="").tryit-img
                .tryit-content
                    h3.tryit-title try it today
                    p.tryit-desc most popular burger
            .tryit-item
                img(src="./images/image_try_it2.png", alt="").tryit-img
                .tryit-content
                    h3.tryit-title try it today
                    p.tryit-desc more fun <br> more taste
            .tryit-item
                img(src="./images/image_try_it3.png", alt="").tryit-img
                .tryit-content
                    h3.tryit-title try it today
                    p.tryit-desc fresh & chili
