extends layout/layout

block vars
	-title = 'Welcome to American Food'
	-bodyClass = 'home-page'

block container
	include ./blocks/tryit
	include ./blocks/tasty
	include ./blocks/events
	include ./blocks/reservation